<div class="jumbotron text-center">
    <h1>{{headerMessage}}</h1>

    <br /><br />

    <div class="form-horizontal form-group form-group-lg row">
        <div class={{emailAddressClass}}>
            {{input type="email" value=emailAddress class="form-control" placeholder="Please type your e-mail address." autofocus="autofocus" aria-describedby="emailAdressInputStatus"}}
            <span class={{emailAddressSpanClass}} aria-hidden="true"></span>
            <span id="emailAdressInputStatus" class="sr-only">{{emailAddressSpanContent}}</span>
        </div>
        <div class={{messageClass}}>
            {{textarea name="messageTextarea" value=message class="form-control" placeholder="Your message. (At least 5 characters.)" rows="7" autofocus="autofocus" aria-describedby="messageTextariaStatus"}}
            <span class={{messageSpanClass}} aria-hidden="true"></span>
            <span id="messageTextariaStatus" class="sr-only">{{messageSpanContent}}</span>
        </div>
        <div id="saveContactBtn" class="col-xs-6 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-sm-6 col-md-6">
            <button class="btn btn-primary btn-lg btn-block" disabled={{isDisabled}} {{action 'saveContact'}}>Send
                message</button>
        </div>
    </div>

    {{#if responseMessage}}
    <div class="alert alert-success">{{responseMessage}}</div>
    {{/if}}

    <br /><br />
</div>